div#main div {
  background-color: lightgrey;
  border: 1px solid black;
  padding: 5px;
}

p {
  /* normalize styling for paragraph */
  margin: 0 0 0 0;
}

ul {
  /* normalize styling for unordered list */
  list-style-type: disc;
  margin: 0 0 0 0;
}

.highlight {
  background: linear-gradient(5deg, white, grey);
}

.tooltip {
  position: relative;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: auto;
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 5px 5px;
  border: 1px solid;

  position: absolute;
  z-index: 1;
  top: -5px;
}

.tooltip:hover .tooltipText, .tooltip:active .tooltipText {
  /* :active triggers on touch for mobile */
  visibility: visible;
}
